[submodule "quadcopter_with_PID_controller"]
	path = quadcopter_with_PID_controller
	url = git@github.com:aangelopoulos/quadcopter_with_PID_controller.git
[submodule "PyCruiseControl"]
	path = PyCruiseControl
	url = git@github.com:aangelopoulos/PyCruiseControl.git
